form.ui.form {
  button.ui.button {
    margin-top: 20px;
    color: #ebeced;
    background-color: #3699db;
    &:hover {
      opacity: 0.9;
    }
  }

  textarea#message {
    border-color: #2f4152;
    color: #2f4152;
    &::placeholder {
      color: #2f4152;
      opacity: 0.6;
    }
  }

  input#email {
    border-color: #2f4152;
    color: #2f4152;
    &::placeholder {
      color: #2f4152;
      opacity: 0.6;
    }
  }
}
