.ui.menu.five.item {
  .item {
    background-color: #2f4152;
    &:hover {
      background-color: #3699db;
      opacity: 0.9;
    }
  }
}

.ui.inverted.menu {
  .active.item {
    background-color: #2f4152;
    opacity: 0.7;
  }
}
