.projects {
  padding-bottom: 20px;
  div.ui.compact.segment {
    div.ui.move.right.reveal {
      div.ui.hidden.content {
        margin-top: 20px;
        margin-left: 25px;
        span {
          color: #4183c4;
          cursor: pointer;
        }
      }
    }
  }
}
